<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>求职者智能分析系统</title>
{% load staticfiles %}
    <link rel="stylesheet" href="{% static '/cloud/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static '/cloud/style.css' %}">

     
</head>
<body>
 
        <section class="features-area section-padding" id="features">
                <div class="container">
                <div class="row">
            
                    <section class="services-area section-padding" id="hangyequshi" >
                        <div class="container">
                
            
                                <div class="col-sm-12">
                                    <div class="section-heading text-center wow fadeInUp">
                                        <h3 style="color: rgb(0, 112, 192);">职位智能分析系统</h3>
                                        <br >
                                        <h5>全国云计算应用创新大赛</h5>
                                        <hr />
                                    </div>
                                </div>
                        </div>
                    </section>
                
            
                <div class="col-md-2 col-sm-4 col-xs-12 " align='center'>
                <div class="single-feature wow fadeInUp" data-wow-delay="0.1s">
                <i class="pe-7s-diamond"></i>
                <h4 ><a href="/blog/selfinformation/" target="_blank" >智能评估推荐</a></h4>
                
                <p>求职者输入个人信息后，通过基于内容推荐等深度学习算法，并由大数据与云计算技术作基础支持，为求职者智能推荐职位并进行薪酬评估</p>
                </div>
                </div>
                 
                <div class="col-md-2 col-sm-4 col-xs-12" align='center'>
                <div class="single-feature wow fadeInUp" data-wow-delay="0.2s">
                <i class="pe-7s-gym"></i>
                    <h4 ><a href="/blog/data_analysis/" target="_blank">职位需求分析</a></h4>
                <p>通过大数据与云计算对信息进行分析处理，了解各行业需求、各行业薪酬分布、职位地域分布、各职位技能需求等</p>
                </div>
                </div>
                 
                <div class="col-md-2 col-sm-4 col-xs-12"  align='center'>
                <div class="single-feature wow fadeInUp" data-wow-delay="0.3s">
                <i class="pe-7s-headphones"></i>
                    <h4 ><a href="/blog/jobscompare/" target="_blank">职业对比选择</a></h4>
                <p>对于职位薪酬进行分段处理，对于不同的薪酬段进行纵向对比，挖掘出其中的共同点和差异性，并为职位的提升突破找出关键点</p>
                </div>
                </div>
                 
                <div class="col-md-2 col-sm-4 col-xs-12"  align='center'>
                <div class="single-feature wow fadeInUp" data-wow-delay="0.4s">
                <i class="pe-7s-settings"></i>
                    <h4 ><a href="http://article.zhaopin.com/" target="_blank">求职指导</a></h4>
                <p>分享一些求职好文章，为求职者求职提供更好的帮助</p>
                </div>
                </div>
                   

            
                </div>
                </div>
                </div>
                </section>

  
            </body>
            
            </html>

